server:
  port: 80
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
#      defaultZone: http://localhost:7001/eureka
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka #集群版
spring:
  application:
    name: cloud-order-service
  zipkin:
    base-url: http://192.168.2.20:9411
  sleuth:
    sampler:
      probability: 1 # 采样率值介于 0 - 1 之间, 1 表示全部采集