server:
  port: 8001

spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://192.168.2.20:3306/db2019?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 1234Qwer

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.atguigu.springcloud.entities
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
eureka:
  client:
    # 表示是否将自己注册进eureka server 默认为true
    register-with-eureka: true
    # 是否从eureka server 抓取已有的注册信息, 默认为true 单节点无所谓,集群必须设置为true 才能配合ribbon 使用负载均衡
    fetch-registry: true
    service-url:
#      defaultZone: http://localhost:7001/eureka #单机版
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka #集群版
  instance:
    #修改eureka 中显示的服务名称
    instance-id: payment8001
    #访问路径可以显示IP地址
    prefer-ip-address: false
    #Eureka 客户端向服务端发送心跳时间间隔 单位为 s  默认30
    lease-renewal-interval-in-seconds: 1
    #Eureka 服务端在收到最后一次心跳后的等待时间上限 单位为 s  默认90 超时剔除服务
    lease-expiration-duration-in-seconds: 2

