server:
  port: 7001

#eureka:
#  instance:
#    hostname: localhost #eureka 服务端实例名称
#  client:
#    #false 表示不向注册中心注册自己
#    register-with-eureka: false
#    #false 表示自己端就是注册中心,我的职责及时维护服务实例,不需要去检索服务
#    fetch-registry: false
#    service-url:
#      #设置与 eureka server 交互的地址查询服务和注册服务 都需要依赖于这个地址
#      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

eureka:
  instance:
    hostname: eureka7001.com #eureka 服务端实例名称
  client:
    #false 表示不向注册中心注册自己
    register-with-eureka: false
    #false 表示自己端就是注册中心,我的职责及时维护服务实例,不需要去检索服务
    fetch-registry: false
    service-url:
      #设置与 eureka server 交互的地址查询服务和注册服务 都需要依赖于这个地址
      defaultZone: http://eureka7002.com:7002/eureka/

