server:
  port: 2001
spring:
  application:
    name: seata-order-service
  cloud:
    alibaba:
      seata:
        # seata 事务组的名称 要与 seata-server 中的对应
        tx-service-group: my_test_tx_group
    nacos:
      discovery:
        server-addr: 192.168.2.20:8848
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.2.20:3306/seata_order?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 1234Qwer
feign:
  hystrix:
    enabled: false
logging:
  level:
     io:
      seata: info
mybatis:
  mapperLocations: classpath:mapper/*.xml